<!doctype html>
<html ng-app="test">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<script src="angular.js"></script>
<script>
var app=angular.module('test', []);

app.controller('cont1', function ($scope, $http){
	$scope.data=[];
	$scope.search='a';
	var url ='./news1.json';
	$scope.fn=function(){
		// $http.jsonp('jsonp.php?callback=JSON_CALLBACK').success(function(res){
		$http.jsonp(url).success(function(response, status, header, config){
			$scope.data = response;
			console.info(response, status, header, config);
		}).error(function(){
			alert('请求失败')
		});
	}
});
</script>
</head>

<body ng-controller="cont1">
	<button ng-click='fn()'>加载数据</button>
	<input type="text" ng-module ='search'>
	<ul>
		<li ng-repeat='item in data'>
			<div>
				<h2><a ng-href={{item.url}}>{{item.title}}</a></h2>
				<p>
					<span>作者</span>{{item.author_name}}--
					<span>日期</span>{{item.date}}---
					<span>类别</span>{{item.realtype}}
				</p>
				<p><img ng-src={{item.thumbnail_pic_s}} alt="" width=100 height=100></p>
			</div>
		</li>
	</ul>
</body>
</html>








