<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/angular-1.5.0.min.js"></script>
</head>
<body>
	<div ng-controller="TestController">
		<label for="">按姓名搜索：</label>
		<input type="text" ng-model="keyword">
		<ul>
			<li ng-repeat="item in data | filter: {name: keyword}">
				<span>{{item.name}}</span>
				<span>{{item.phone}}</span>
			</li>
		</ul>
	</div>
	<script>
		var m1 = angular.module("myApp",[]);

		m1.controller('TestController',["$scope",function($scope){
			$scope.data = [
				{name:'John', phone:'555-1276'},
				{name:'Mary', phone:'800-BIG-MARY'},
				{name:'Mike', phone:'555-4321'},
				{name:'Adam', phone:'555-5678'},
				{name:'Julie', phone:'555-8765'},
				{name:'Juliette', phone:'555-5678'}
			];
		}]);
	</script>
</body>
</html>